// showing default values
//$accentColor = #3eaf7c
//$textColor = #2c3e50
//$borderColor = #eaecef
//$codeBgColor = #282c34

// .vuepress/style.styl, your extra styles.
.twitter {
  width: 3em;
  height: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

